*.orig
*.log
wp-config.php
sass.cache/
.htaccess
searchreplacedb2.php
Search-Replace-DB-master/
wp-content/themes/pirata-matematico/.sass-cache/
wp-content/themes/pirata-matematico/node_modules/
Projeto/PSD
node_modules/